.visually-hidden {
    display: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 112, 160, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
}

.title {
    margin: 0;
    font-size: 39px;
    line-height: 50px;
}

body {
    width: 1440px;
    background-color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.header {
    min-height: 75px;
    padding: 0 155px 0 155px;
    display: flex;
}

.product-logo {
    margin-right: 36px;
}

.logo-image {
    position: relative;
    top: 19px;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 445px;
}

.navigation-list, .user-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-list {
    gap: 24px;
}

.navigation-link, .user-link {
   text-decoration: none; 
   color: rgba(51, 56, 63, 1);
}

.user-list {
    gap: 31px;
    align-items: center;
}

.button-header {
    width: 139px;
    height: 36px;
}

.introduction {
    display: grid;
    grid-template-columns: 1fr 452px;
    padding: 70px 155px 80px 155px;

}

.introduction-button {
    width: 174px;
    height: 43px;
}

.introduction-picture {
    grid-column: 2/-1;
    grid-row: 1 / 4;
}

.introduction-title {
    font-size: 58px;
    line-height: 64px;
    margin: 0;
}

.introduction-subtitle {
    grid-column: 1/2;
}

.introduction-button {
    grid-column: 1/2;
    grid-row: 3/4;
}

.introduction-more {
    grid-column: 1/2;
    grid-row: 3/4;
    width: fit-content;
    height: 43px;
    text-decoration: none;
    color: rgba(0, 112, 160, 1);
    display: flex;
    align-items: center;
    margin-left: 198px;
}

.introduction-more::after {
    content: "";
    display: block;
    background: url("./images/arrow-right.svg") center no-repeat;
    width: 10px;
    height: 18px;
}

.clients {
    padding: 40px 105px 160px 105px;
}

.clients-subtitle {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 24px;
}

.clients-list {
    list-style-type: none;
    padding: 0 105px;
    margin: 0 auto;
    display: flex;
    width: fit-content;
    gap: 60px;
}

.advantages {
    padding: 0 155px 120px 155px;
}

.advantages-list {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.advantages-item {
    width: 355px;
    min-height: 250px;
    padding: 32px 32px 40px 32px;
}

.advantages-name {
    font-size: 25px;
    line-height: 31px;
    margin: 0;
    margin-bottom: 11px;
}

.advantages-description {
    margin: 0;
}

.advantages-fast {
    background-color: rgba(250, 234, 115, 1);
}

.advantages-item h3::before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    margin-bottom: 8px;
}

.advantages-fast h3::before {
    background: url('./images/light.svg') center no-repeat;
}

.advantages-more {
    background-color: rgba(204, 239, 246, 1);
}

.advantages-more h3::before {
    background: url('./images/money.svg') center no-repeat;
}

.advantages-secure {
    background-color: rgba(247, 206, 220, 1);
}

.advantages-secure h3::before {
    background: url('./images/gesture.svg') center no-repeat;
}

.features {
    width: 1230px;
    min-height: 534px;
    padding: 80px 105px;
    background-color: rgba(247, 249, 250, 1);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px auto;
}

.features-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.about {
    width: 1130px;
    min-height: 218px;
    padding: 120px 155px;
    display: flex;
    gap: 98px;
}

.about-name::before {
    margin: 0;
    margin-bottom: 8px;
}

.about-name {
    margin: 0;
    margin-bottom: 11px;
}

.about-item:nth-child(1) .about-name::before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    background: url("./images/glass.svg") center no-repeat;
}

.about-item:nth-child(2) .about-name::before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    background: url("./images/glass.svg") center no-repeat;
}

.about-item:nth-child(3) .about-name::before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    background: url("./images/pc.svg") center no-repeat; 
}

.about-description {
    margin: 0;
}

.about-list {
    display: flex;
    gap: 32px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.promotion {
    width: 1130px;
    height: 390px;
    padding: 80px 155px;
    background-color: rgba(0, 112, 160, 1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
}

.promotion-button {
    width: 176px;
    height: 43px;
}

.promotion-title {
    color: rgba(255, 255, 255, 1);
}

.promotion-picture {
    grid-row: 1/-1;
}

.promotion-description {
    grid-column: 2 / 3;
}

.promotion-list {
    grid-column: 2 / 3;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.promotion-item {
    display: flex;
}

.promotion-item:not(:last-child) {
    margin-bottom: 12px;
}

.promotion-item::before {
    content: "";
    display: block;
    background: url("./images/arrow-down.svg") center no-repeat;
    width: 17px;
    height: 10px;
}

.tasks {
    width: 1230px;
    min-height: 408px;
    padding: 120px 105px;
}

.tasks-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 64px;
}

.tasks-name::before {
    content: "";
    display: block;
}

.tasks-item:nth-child(1) .tasks-name::before {
    background: url("./images/moleculs.svg") center no-repeat;
    width: 55px;
    height: 55px;
}

.tasks-item:nth-child(2) .tasks-name::before {
    background: url("./images/lightning.svg") center no-repeat;
    width: 55px;
    height: 55px;
}

.tasks-item:nth-child(3) .tasks-name::before {
    background: url("./images/cool.svg") center no-repeat;
    width: 59px;
    height: 44px;
}

.tasks-item:nth-child(4) .tasks-name::before {
    background: url("./images/attention.svg") center no-repeat;
    width: 50px;
    height: 48px;
}

.posts {
    width: 1230px;
    min-height: 587px;
    padding: 80px 105px;
    background-color: rgba(247, 249, 250, 1);
}

.posts-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.starting {
    width: 1130px;
    min-height: 370px;
    margin: 80px 155px;
    background-color: rgba(230, 247, 255, 1);
}

.starting-button {
    width: 174px;
    height: 43px;
    margin-bottom: 12px;
}

.starting-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.starting-item {
    display: flex;
    align-items: center;
}

.starting-item::before {
    content: "";
    display: block;
    background: url("./images/starting-down.svg") center no-repeat;
    width: 13px;
    height: 7px;
}

.footer {
    width: 1230px;
    min-height: 352px;
    padding: 48px 105px 32px 105px;
}

.top-footer {
    display: flex;
    gap: 16px;
}

.footer-left-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-right-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.left-item:not(:last-child) {
    margin-bottom: 10px;
}

.right-item:not(:last-child) {
    margin-bottom: 10px;
}

.bottom-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

}
    